<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="site-nav">
  <div class="nav-wrap">
    <a class="nav-brand" href="{{ site.url }}{{ site.baseurl }}/">
      <span class="dot"></span>{{ site.title | escape }}
    </a>
    <input type="checkbox" id="nav-toggle" class="nav-toggle-cb">
    <label for="nav-toggle" class="nav-burger" aria-label="Toggle navigation"><span></span></label>
    <div class="nav-links">
      <a href="{{ site.url }}{{ site.baseurl }}/">Home</a>
      {% for page in site.nav_pages %}
      <a href="{{ site.url }}{{ site.baseurl }}/{{ page.name }}">{{ page.name | capitalize }}</a>
      {% endfor %}
    </div>
  </div>
</nav>
